<div class="container">
	<section id="digital-list">
		<div class="row">
			<div class="col-xs-12">
				<h2>The Digital Collectible Card Game Master List</h2>
				<hr />
				<p>
					For a print &amp; digital list, see <a href="http://en.wikipedia.org/wiki/List_of_collectible_card_games#Alphabetical_List_of_Games" target="blank">wikipedia</a>.  This list is maintained by the moderators of <a href="http://reddit.com/r/digitalccg">/r/digitalccg on Reddit</a>.
				</p>
				<div>
					{{{listContent}}}
				</div>
			</div>
			<!--/span-->
		</div>
	</section>
</div>